.icon-blank{
	background:url('icons/blank.gif') no-repeat;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat;
}
.icon-no{
	background:url('icons/no.png') no-repeat;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat;
}
.icon-search{
	background:url('icons/search.png') no-repeat;
}
.icon-print{
	background:url('icons/print.png') no-repeat;
}
.icon-help{
	background:url('icons/help.png') no-repeat;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat;
}
.icon-back{
	background:url('icons/back.png') no-repeat;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat 2px 2px;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat 2px 2px;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat 3px 2px;
}
.icon-home{
	background:url('icons/home.png') no-repeat 3px 2px;
}
.icon-logout{
	background:url('icons/logout.png') no-repeat 3px 2px;
}
.icon-Dashboard{
	background:url('icons/dashboard.png') no-repeat 3px 2px;
}
.icon-Referensi{
	background:url('icons/reference.png') no-repeat 3px 2px;
}
.icon-Siswa{
	background:url('icons/siswa.png') no-repeat 3px 2px;
}
.icon-Laporan{
	background:url('icons/laporan.png') no-repeat 3px 2px;
}
.icon-akm{
	background:url('icons/akademik.png') no-repeat 3px 2px;
}
.icon-mhs{
	background:url('icons/icon_mhs.gif') no-repeat 3px 2px;
}
.icon-nilai{
	background:url('icons/icon_nilai.png') no-repeat 3px 2px;
}
.icon-ruangan{
	background:url('icons/icon_ruangan.png') no-repeat 3px 2px;
}
.icon-dosen{
	background:url('icons/icon_dosen.gif') no-repeat 3px 2px;
}
.icon-jadwal{
	background:url('icons/icon_jadwal.jpg') no-repeat 3px 2px;
}
.icon-matakuliah{
	background:url('icons/icon_matakuliah.jpg') no-repeat 3px 2px;
}
.icon-mengajar{
	background:url('icons/teaching.gif') no-repeat 3px 2px;
}
.icon-sejarah{
	background:url('icons/icon_sejarah.png') no-repeat 3px 2px;
}
.icon-prestasi{
	background:url('icons/icon_prestasi.jpg') no-repeat 3px 2px;
}
.icon-info{
	background:url('icons/icon_info.jpg') no-repeat 3px 2px;
}
.icon-prodi{
	background:url('icons/icon_prodi.jpg') no-repeat 3px 2px;
}